a {
  color:#FFFFFF;
  front-size:12pt;
  text-decoration: none;
}
b {
color:#000000;
front-size: 15pt;
}
body {
background-color: #F3E2A9;
color:#1C1C1C;
front-size: 14pt;
}
h1 {
color:#000000;
front-size: 30pt;
font-weight: normal;
}
table {
border-spasing: 100px;
margin: auto;
}
